body{
  height: 50%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  color: #333; 
  font-size: 16px;
}

.outer-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.control-panel {
  width:50;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  font-size: 16px;
  background-color: #61dafb;
  border-radius: 4px;
  color:black;
  border:none;
}

/* .speak{
  width: 25%;
} */

.input-group label {
  display: block;
  font-size: 16px;
  color: #333;
  text-align: left;
}

.input-group{
  width: 100%;
  display: flex;
  align-content: space-around;
  margin-bottom: 8px;
}

.input-group select {
  width: 50%
}

input, .input-group select {
  width: 75%;
  margin-left: 4rem;
  font-size: 16px;
}

.animation {
  height: 10vh;
}